<template>
  <div id="page--account" class="page">
    <h2 class="sr-only">{{ t.navigation.account }}</h2>

    <p>TODO [MVP]: Disable account</p>
    <p>TODO [MVP]: Delete account</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  setup() {
    return {
      t: injectTranslations(),
    };
  },
});
</script>
