<template>
  <article
    class="message"
    :data-e-type="item.type"
    :data-message-id="item.id"
    :class="{ prediction: !item.id }"
    :aria-posinset="pos + 1"
    :aria-setsize="total"
  >
    <h3 class="sr-only no-select">{{ item.type }}</h3>
    <div
      v-html="i18n.localize(item.bodyHTML)"
      :lang="i18n.langCodeOf(item.bodyHTML)"
      class="message-body"
    ></div>
    <!-- TODO move timestamp above text for better SR read and copy+paste result -->
    <footer>
      <!-- TODO sr-only describing text "xyz wrote at" -->
      <time :datetime="item.cDate.toISOString()">{{
        item.cDate.toLocaleString()
      }}</time>
    </footer>
  </article>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { ChatItem } from "@/modules/chat/chat.service";
import { injectI18n } from "@/i18n/provider";

export default defineComponent({
  props: {
    item: { type: Object as PropType<ChatItem>, required: true },
    pos: { type: Number, required: true },
    total: { type: Number, required: true },
  },
  setup() {
    return {
      i18n: injectI18n(),
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";

.message {
  margin: 0 (-$spacing-lg) $spacing-lg (-$spacing-lg);
  padding: $spacing-md $spacing-lg;

  &[data-e-type="MSG_IN"] {
    @media #{$viewport-sm} {
      margin-right: ($spacing-xxl - $spacing-lg);
    }
    background-color: $tertiary-900;
  }
  &[data-e-type="MSG_OUT"] {
    @media #{$viewport-sm} {
      margin-left: ($spacing-xxl - $spacing-lg);
    }
    background-color: $primary-900;
  }
  &.prediction {
    opacity: 0.5;
  }

  .message-body {
    word-wrap: anywhere;
  }
}

footer {
  margin-top: $spacing-sm;
  text-align: right;
  font-size: 0.68rem;
  font-weight: 600;
  color: $gray-400;
}
</style>
