<template>
  <div class="chat-frame">
    <h3 class="sr-only">{{ t.chat.roomTitle(room) }}</h3>
    <template v-if="items.loading && !items.predicted">
      <Spinner
        class="spinner mx-auto mt-xl md:mt-xxl"
        :size="SpinnerSize.large"
      />
    </template>
    <template v-else-if="items.succeeded">
      <div
        role="log"
        :id="`chat-log--${room.id}`"
        class="chat-items"
        ref="scrollElement"
        aria-live="polite"
      >
        <ChatItem
          v-for="(item, index) in items.value"
          :key="item.id || item.cDate"
          :item="item"
          :pos="index"
          :total="items.value.length"
        ></ChatItem>
      </div>
      <div class="compose-wrapper">
        <form @submit="sendMessage" class="compose-form">
          <ChatComposer
            ref="composer"
            class="compose-field"
            :aria-controls="`chat-log--${room.id}`"
            @send="sendMessage()"
            :key="room.id"
            :room-id="room.id"
            :disabled="submitState.loading"
          ></ChatComposer>
          <button
            class="compose-submit"
            type="submit"
            :aria-busy="submitState.loading"
            :disabled="submitState.loading"
            :class="{ failed: failedIndication }"
          >
            <span class="sr-only">{{ t.chat.submit }}</span>
            <span
              v-if="!submitState.loading"
              class="fa fa-paper-plane"
              aria-hidden="true"
            ></span>
            <span
              v-else
              class="fa fa-spin fa-spinner"
              aria-hidden="true"
            ></span>
          </button>
        </form>
      </div>
    </template>
    <div v-else-if="items.resolved" role="alert">Error: {{ items.error }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, watchEffect } from "vue";
import {
  ChatItem as ChatItemT,
  ChatItemType,
  ChatMessageOutgoingPrediction,
  ChatRoom,
  sendChatMessage,
} from "@/modules/chat/chat.service";
import { Loading, useLoading } from "@/modules/common/hooks/loading";
import Spinner, { SpinnerSize } from "@/modules/common/Spinner.vue";
import ChatItem from "@/modules/chat/ChatItem.vue";
import { injectI18n, injectTranslations } from "@/i18n/provider";
import ChatComposer from "@/modules/chat/ChatComposer.vue";
import { initScrollbar, silentScrollContext } from "@/modules/common/scrollbar";

export interface MessageSubmit {
  promise: Promise<ChatItemT>;
  prediction: ChatMessageOutgoingPrediction;
}

export default defineComponent({
  components: {
    ChatComposer,
    ChatItem,
    Spinner,
  },
  props: {
    items: { type: Object as PropType<Loading<ChatItemT[]>>, required: true },
    room: { type: Object as PropType<ChatRoom>, required: true },
  },
  emits: ["submit"],
  setup(props, { emit }) {
    const composer = ref<typeof ChatComposer>();
    const scrollElement = ref<HTMLElement>();
    const failedIndication = ref(false);
    const i18n = injectI18n();
    const submitLoading = useLoading<ChatItemT>();

    watchEffect(
      () => {
        if (scrollElement.value) {
          initScrollbar(scrollElement.value);
        }
      },
      { flush: "post" }
    );

    watchEffect(
      () => {
        props.items;
        const el = scrollElement.value;
        if (el) {
          silentScrollContext(el, () => el.scrollTo({ top: el.scrollHeight }));
        }
      },
      { flush: "post" }
    );

    return {
      t: injectTranslations(),
      SpinnerSize,
      composer,
      scrollElement,
      submitState: submitLoading.state,
      failedIndication,

      sendMessage(evt?: Event) {
        evt?.preventDefault();
        const content = composer.value!.value;
        if (content.trim().length === 0) {
          return;
        }
        const body = {
          locale: i18n.locale,
          content: content,
        };
        const prediction: ChatMessageOutgoingPrediction = {
          cDate: new Date(),
          type: ChatItemType.MSG_OUTGOING,
          bodyHTML: body,
          bodyOriginal: body,
        };
        const submitPromise = sendChatMessage(props.room.id, body);
        submitLoading.next(submitPromise);
        composer.value!.value = "";
        const promise = submitPromise.catch((err: unknown) => {
          if (composer.value) {
            composer.value.value = body.content;
          }
          failedIndication.value = true;
          setTimeout(() => (failedIndication.value = false), 2000);
          console.error(err);
          // todo notify user
        });
        emit("submit", { promise, prediction });
      },
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";

.spinner {
  animation: fade-in ease 500ms both 150ms;
}

.chat-frame {
  display: flex;
  flex-direction: column;
}

.chat-items {
  padding: $spacing-lg;
  overflow-y: auto;
  max-height: 100%;
  flex: 1;
}

.compose-form {
  display: flex;
  align-items: stretch;

  :deep(.compose-field) {
    flex: 1;
  }

  .compose-submit {
    background-color: $primary-600;
    color: $primary-900;
    padding: $spacing-md $spacing-lg;
    transition: background-color 0.2s linear, color 0.2s linear;

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary-700;
    }

    &[disabled] {
      background-color: $gray-300;
      color: $gray-700;
    }

    &.failed {
      background-color: $danger-300;
      color: $danger-900;
    }
  }
}
</style>
