<template>
  <!-- TODO add slight box shadow -->
  <label :for="`compose-field--${roomId}`" class="sr-only">{{
    t.chat.message
  }}</label>
  <textarea
    ref="field"
    v-bind="$attrs"
    :id="`compose-field--${roomId}`"
    class="compose-field"
    required
    :disabled="disabled"
    @keypress.ctrl.enter="sendMessage"
  ></textarea>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  props: {
    roomId: { type: String, default: null },
    disabled: { type: Boolean, default: false },
  },
  emits: ["send"],
  setup(props, { emit }) {
    const field = ref<HTMLTextAreaElement>();

    onMounted(() => field.value?.focus());

    return {
      t: injectTranslations(),
      field,

      sendMessage() {
        emit("send", field.value!.value);
      },

      get value(): string {
        return field.value?.value ?? "";
      },
      set value(value: string) {
        if (field.value) {
          field.value.value = value;
        }
      },
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";

.compose-field {
  transition: background-color 0.2s linear;
  resize: vertical;
  width: 0; // actually acts as min-width due to textarea resize
  background-color: $primary-900;
  min-height: calc(5rem + #{3.8 * $spacing-sm});
  padding: $spacing-sm $spacing-md;

  &[disabled] {
    background-color: fade-out($white, 0.3);
  }
}
</style>
