<template>
  <div class="rooms-panel" ref="scrollArea" tabindex="-1">
    <div
      class="rooms-list"
      v-if="rooms.length > 0"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        v-for="room in rooms"
        :key="room.id"
        class="room"
        :class="{ active: room.id === activeRoomId }"
        @click="setActiveRoom(room)"
        role="tab"
        :aria-selected="room.id === activeRoomId"
        :disabled="room.id === activeRoomId"
        :aria-controls="`chat-frame--${room.id}`"
      >
        <NameAndAge :profile="room.profileForeign"></NameAndAge>
        <span
          v-if="room.latestAction"
          class="latest-activity"
          :aria-label="t.chat.latestActivity"
        >
          <time
            class="date"
            :datetime="room.latestAction.cDate.toISOString()"
            >{{ room.latestAction.cDate.toLocaleString() }}</time
          >
          <span
            class="excerpt"
            :lang="i18n.langCodeOf(room.latestAction.bodyHTML)"
            v-html="i18n.localize(room.latestAction.bodyHTML)"
            aria-hidden="true"
          ></span>
        </span>
      </button>
    </div>
    <div class="no-rooms" v-else>No rooms yet.</div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, PropType, ref } from "vue";
import NameAndAge from "@/modules/profile/NameAndAge.vue";
import { ChatRoom } from "@/modules/chat/chat.service";
import { initScrollbar } from "@/modules/common/scrollbar";
import { injectI18n, injectTranslations } from "@/i18n/provider";

export default defineComponent({
  components: {
    NameAndAge,
  },
  props: {
    rooms: { type: Array as PropType<ChatRoom[]>, required: true },
    activeRoomId: { type: String, default: null },
  },
  emits: ["select"],
  setup(props, { emit }) {
    const scrollArea = ref<HTMLElement>();

    onMounted(() => initScrollbar(scrollArea.value!));

    return {
      i18n: injectI18n(),
      t: injectTranslations(),
      scrollArea,

      setActiveRoom(room: ChatRoom) {
        emit("select", room);
      },
    };
  },
});
</script>

<style lang="scss" scoped>
@use "sass:math";

@import "~@/styles/theme/variables";

.rooms-panel {
  // xl/2 is the spacing margin of the surrounding flex; reduce by padding on
  // the right, so only the selected room contains full-width background
  margin: 0 (math.div($spacing-xl, 2) - $spacing-md) 0 math.div($spacing-xl, 2);
  padding-right: $spacing-md;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-rooms {
  padding: $spacing-lg $spacing-xl;
  text-align: center;
}

.rooms-list,
.no-rooms {
  background-color: $panel-bg-base;
  min-height: 100%;
}

.room {
  display: block;
  text-align: left;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: $spacing-sm $spacing-md;
  margin-bottom: $spacing-md;

  &:hover {
    background-color: fade-out($primary-900, 0.5);
  }

  .latest-activity {
    display: block;
    margin-left: $spacing-md;

    > .excerpt,
    > .date {
      display: block;
    }

    > .excerpt {
      font-style: italic;
      font-size: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    > .date {
      //margin-top: $spacing-sm;
      font-size: 0.68rem;
      font-weight: 600;
      color: $gray-300;
    }
  }

  &.active {
    cursor: default;
    background-color: $primary-900;

    &::after {
      content: "";
      position: absolute;
      width: $spacing-md;
      height: 100%;
      top: 0;
      right: -$spacing-md;
      background-color: $primary-900;
    }
  }
}
</style>
