@import "~@/styles/theme/variables";

@mixin container-fluid($maxWidth: 1200px) {
  display: block;
  max-width: $maxWidth;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;

  @media #{$viewport-xs} {
    margin-left: $spacing-xl;
    margin-right: $spacing-xl;
    padding-left: 0;
    padding-right: 0;
  }

  @media #{$viewport-sm} {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
