<template>
  <div class="container" :style="containerStyle" ref="container">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  onUnmounted,
  PropType,
  ref,
  watchEffect,
} from "vue";
import { injectTranslations } from "@/i18n/provider";

export enum Align {
  LEFT = "left",
  RIGHT = "right",
}

export default defineComponent({
  props: {
    alignWith: { type: Object as PropType<Element>, default: null },
    align: { type: String as PropType<Align>, default: Align.LEFT },
    windowSnapThreshold: { type: Number, default: 12 },
  },
  setup(props) {
    const container = ref<HTMLDivElement | null>(null);
    const containerStyle = ref<Partial<CSSStyleDeclaration> | null>(null);

    watchEffect((onInvalidate) => {
      if (!container.value) {
        return; // not mounted yet
      }
      if (props.alignWith) {
        const observer = new ResizeObserver(onResize);
        observer.observe(props.alignWith);
        observer.observe(container.value);
        onInvalidate(() => observer.disconnect());
      }
    });

    onMounted(() => {
      window.addEventListener("resize", onResize);
      onResize();
    });

    onUnmounted(() => window.removeEventListener("resize", onResize));

    return {
      t: injectTranslations(),
      container,
      containerStyle,
    };

    function onResize() {
      if (props.alignWith) {
        const alignToBounds = props.alignWith.getBoundingClientRect();
        let styles = {
          minWidth: `${alignToBounds.width}px`,
          top: `${alignToBounds.y + alignToBounds.height}px`,
        };
        switch (props.align) {
          case Align.LEFT:
            styles = { ...styles, ...leftAlign(alignToBounds) };
            break;
          case Align.RIGHT:
            styles = { ...styles, ...rightAlign(alignToBounds) };
            break;
        }
        containerStyle.value = styles;
      } else {
        containerStyle.value = null;
      }
    }

    function leftAlign({ left }: ClientRect) {
      const containerWidth = getContainerWidth();
      const frameWidth = document.documentElement.clientWidth;
      const maxOffset = frameWidth - containerWidth;
      if (left > maxOffset) {
        // left-align would overflow the window, so right-align or snap to left
        return {
          left: maxOffset <= props.windowSnapThreshold ? 0 : `${maxOffset}px`,
        };
      }
      // left-align (or snap)
      return { left: left <= props.windowSnapThreshold ? 0 : `${left}px` };
    }

    function rightAlign({ right }: ClientRect) {
      const containerWidth = getContainerWidth();
      const frameWidth = document.documentElement.clientWidth;
      const maxOffset = frameWidth - containerWidth;
      if (maxOffset < 0) {
        return { left: 0 };
      }
      if (right - containerWidth < 0) {
        // right-align would overflow the window, so left-align or snap to right
        if (maxOffset <= props.windowSnapThreshold) {
          return { right: 0 };
        }
        return { left: 0 };
      }
      // right-align (or snap)
      const offset = frameWidth - right;
      return { right: offset <= props.windowSnapThreshold ? 0 : `${offset}px` };
    }

    function getContainerWidth() {
      const containerEl = container.value!;
      if (containerEl.classList.contains("hidden")) {
        containerEl.classList.remove("hidden");
        const width = containerEl.offsetWidth;
        containerEl.classList.add("hidden");
        return width;
      }
      return containerEl.offsetWidth;
    }
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables/index.scss";

.container {
  position: absolute;
  background-color: mix($primary-200, $secondary-300, 40);
  border-top: $spacing-sm solid $secondary-400;
  z-index: 2000;

  > :deep(a) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-lg $spacing-xl;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $primary-900;
      outline-color: $primary-900;

      @media #{$viewport-xs} {
        border-color: $primary-600;
      }
    }

    &.router-link-active {
      color: $tertiary-800;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $secondary-500;
    }
  }

  :deep(.nav-icon) {
    margin-left: $spacing-lg;
    margin-right: 0;
  }
}
</style>
