@import "~@/styles/theme/variables/index.scss";

$attributes: (
  m: margin,
  p: padding,
);
$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spacing-and-auto: map-merge(
  $spacing,
  (
    auto: auto,
  )
);

@each $attrChar, $attr in $attributes {
  @each $name, $size in $spacing-and-auto {
    .#{$attrChar}-#{$name} {
      #{$attr}: $size;
    }

    .#{$attrChar}x-#{$name} {
      #{$attr}-left: $size;
      #{$attr}-right: $size;
    }

    .#{$attrChar}y-#{$name} {
      #{$attr}-top: $size;
      #{$attr}-bottom: $size;
    }
  }

  @each $dirChar, $dir in $directions {
    @each $name, $size in $spacing-and-auto {
      .#{$attrChar}#{$dirChar}-#{$name} {
        #{$attr}-#{$dir}: $size;
      }
    }
  }
}

@each $vp-name, $vp in $viewport {
  @media #{$vp} {
    @each $attrChar, $attr in $attributes {
      @each $spacing-name, $value in $spacing-and-auto {
        .#{$vp-name}\:#{$attrChar}-#{$spacing-name} {
          #{$attr}: $value;
        }

        .#{$vp-name}:#{$attrChar}x-#{$spacing-name} {
          #{$attr}-left: $value;
          #{$attr}-right: $value;
        }

        .#{$vp-name}:#{$attrChar}y-#{$spacing-name} {
          #{$attr}-top: $value;
          #{$attr}-bottom: $value;
        }
      }

      @each $dirChar, $dir in $directions {
        @each $spacing-name, $value in $spacing-and-auto {
          .#{$vp-name}\:#{$attrChar}#{$dirChar}-#{$spacing-name} {
            #{$attr}-#{$dir}: $value;
          }
        }
      }
    }
  }
}
