@import "~@/styles/theme/variables/index.scss";

.hidden {
  display: none;
}

$display: (
  visible: initial,
  block: block,
  flex: flex,
);

@each $vp-name, $vp in $viewport {
  @each $key, $value in $display {
    .#{$vp-name}\:#{$key} {
      display: none;
    }
  }

  @media #{$vp} {
    @each $key, $value in $display {
      .#{$vp-name}\:#{$key} {
        display: $value;
      }
    }
  }
}

.no-select {
  user-select: none;
}
