<template>
  <div id="frame" data-type="landing" lang="en" aria-live="polite">
    <main>
      <h1 class="fade-in">{{ t.title }}</h1>

      <div class="panel panel--preview fade-in">
        <h2 class="font--heading">This is a work in progress project.</h2>
        <p>
          Preview the
          <RouterLink to="/discover">demo</RouterLink>!
        </p>
        <p>
          The project is in early alpha, there is only dummy data visible as of
          now.
        </p>
      </div>

      <div class="panel panel--inclusive fade-in">
        <h2 class="font--heading">Inclusiveness</h2>
        <p>
          <em>All people</em> are welcome. <em>Diverse interests</em> can be
          searched for &mdash; everything from <em>sex dates</em>, with or
          without <em>kinks</em>, to <em>romance</em>, or just new
          <em>friends</em> for your private pen and paper meetups. Profiles can
          be associated with each other to embody <em>groups</em>.
        </p>
      </div>

      <div class="panel panel--filters fade-in">
        <h2 class="font--heading">No wasted time</h2>
        <p>
          We <em>won't cripple our filters</em> in order to present more
          profiles. Profiles that you wouldn't match with anyways... Instead we
          deem to allow users to specify <em>fine-grained filters</em> and
          multiple sets of those with different <em>profiles</em>. Don't waste
          your time on profiles looking solely for new friends when you really
          want something else. <em>Design</em> your profiles individually to
          best address potential matches.
        </p>
      </div>

      <div class="panel panel--privacy fade-in">
        <h2 class="font--heading">Data protection and privacy</h2>
        <p>
          People should be able to <em>choose</em> for themselves which data
          they make accessible to whom. We will provide
          <em>customizable controls</em> for this. Feel
          <em>comfortable</em> sharing the data that best describes you, knowing
          that not everybody may access <em>sensitive information</em> on their
          first profile lookup.
        </p>
      </div>

      <div class="panel panel--foss fade-in">
        <h2 class="font--heading">Free and open source</h2>
        <p>
          The source code is <em>open and freely</em> accessible for everyone.
          You have the <em>right to know</em> exactly how we process your data.
          You have the <em>right to use</em> the software yourself, e.g. host
          your own servers, provided that any modifications are
          <em>given back</em> to the <em>community</em>. For legal details,
          lookup
          <a
            href="https://gitlab.com/xoria/foss-dating/-/blob/master/LICENSE.txt"
            >the license text</a
          >
          (AGPL-3.0).
        </p>
      </div>

      <aside class="fade-in footer-text subscribe">
        If you stumbled upon this preview page and would like to be notified
        about status updates, send a mail with "<em>subscribe</em>" in the
        subject to
        <em class="nowrap">foss-dating&lt;at&gt;xoria.dev</em>. We will then
        contact you for <em>beta invites</em> or similar major updates.<br />
        You can unsubscribe at any time, just write "<em>unsubscribe</em>" to
        the same address.
      </aside>

      <hr />
    </main>

    <footer>
      <p class="footer-text">
        <a href="https://gitlab.com/xoria/foss-dating"
          ><span class="fab fa-gitlab" aria-hidden="true"></span> Visit us on
          gitlab.</a
        >
      </p>

      <hr />

      <aside class="fade-in footer-text legal legal--en">
        This website is just a preview, intended for a private audience.<br />
        Please contact <em class="nowrap">legal&lt;at&gt;xoria.dev</em> for any
        legal concerns.
      </aside>

      <aside class="fade-in footer-text legal legal--de" lang="de">
        Diese Webseite ist zu Vorschauzwecken f&uuml;r eine private Zielgruppe
        gedacht.<br />
        F&uuml;r rechtliche Angelegenheiten kontaktieren Sie bitte
        <em class="nowrap">legal&lt;at&gt;xoria.dev</em>.
      </aside>

      <hr />

      <p class="fade-in footer-text copyright">
        Copyright (C) 2020 Ole Reglitzki
      </p>
    </footer>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  setup() {
    onMounted(() => {
      document.dispatchEvent(new Event("x-app-rendered"));
    });

    return {
      t: injectTranslations(),
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/mixins";
@import "~@/styles/theme/variables";

#frame {
  padding: $spacing-xl 0;

  @media #{$viewport-lg} {
    padding-top: $spacing-xxl;
  }

  @media #{$viewport-xl} {
    padding-top: $spacing-xxxl;
  }
}

.fade-in {
  animation: fade-in ease 1.75s both;
}

h1 {
  @include logo;
  animation-duration: 0.4s;
  text-align: center;
  display: block;
  margin-bottom: $spacing-xl;

  @media #{$viewport-lg} {
    margin-bottom: $spacing-xxl;
  }

  @media #{$viewport-xl} {
    margin-bottom: $spacing-xxxl;
  }
}

.panel {
  box-shadow: 0 0 4px 0 $real-black;
  border-left: $spacing-md solid;
  margin: 0 $spacing-md $spacing-lg $spacing-md;
  padding: $spacing-xl;
  text-align: center;

  @each $num in (2, 3, 4, 5, 6) {
    &:nth-child(#{$num}) {
      animation-delay: 0.5s * ($num - 1);
    }
  }

  @media #{$viewport-sm} {
    max-width: 80%;
    margin: 0 auto $spacing-xl auto;
  }

  @media #{$viewport-lg} {
    margin: 0 auto $spacing-xxl auto;
    padding: $spacing-xl $spacing-xxl;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.panel--preview {
    background-color: fade-out($white, 0.2);
    border-color: $gray-400;

    h2 {
      color: $gray-200;
    }
  }

  &.panel--inclusive {
    background-color: fade-out(mix($secondary-800, $white, 35%), 0.2);
    border-color: $secondary-400;

    h2 {
      color: $secondary-200;
    }
  }

  &.panel--filters {
    background-color: fade-out(mix($green-800, $white, 35%), 0.2);
    border-color: $green-400;

    h2 {
      color: $green-200;
    }
  }

  &.panel--privacy {
    background-color: fade-out(mix($tertiary-800, $white, 35%), 0.2);
    border-color: $tertiary-400;

    h2 {
      color: $tertiary-200;
    }
  }

  &.panel--foss {
    background-color: fade-out(mix($primary-800, $white, 35%), 0.2);
    border-color: $primary-400;

    h2 {
      color: $primary-200;
    }
  }
}

a {
  font-weight: 600;
  &,
  &:visited {
    color: $primary-400;
  }

  &:hover,
  &:focus {
    text-decoration: underline $primary-600;
    text-underline-offset: 2px;
  }
}

em {
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: $spacing-lg;
}

hr {
  border-top: 1px solid $secondary-500;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
}

hr,
.footer-text {
  margin-left: $spacing-md;
  margin-right: $spacing-md;

  @media #{$viewport-sm} {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-text {
  font-size: 0.85rem;
  text-align: center;
  color: $tertiary-900;
  margin-top: $spacing-xl;

  &.subscribe {
    margin-top: $spacing-xxl;
  }

  &.legal--de {
    margin-top: $spacing-lg;
  }

  a {
    &,
    &:visited {
      color: $primary-800;
    }

    &:hover,
    &:focus {
      text-decoration-color: $primary-700;
    }

    .fab {
      margin-right: $spacing-xs;
    }
  }
}

.nowrap {
  white-space: nowrap;
}
</style>
