@import "~@/styles/theme/variables/index.scss";

.font--body,
body {
  font-family: "Montserrat", "Ubuntu", "Helvetica Neue", system-ui,
    -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}

* {
  @media #{$viewport-md} {
    letter-spacing: 0.01em;
    line-height: 1.6;
  }
  @media #{$viewport-lg} {
    letter-spacing: 0.02em;
  }
}

.font--heading {
  font-family: "LatoLatin", "Roboto", system-ui, -apple-system, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  * {
    @media #{$viewport-md} {
      letter-spacing: 0.07em;
    }
  }
}

button {
  user-select: text;
}
