<template>
  <span class="name" v-if="profile.name" :aria-label="t.profile.name">{{
    profile.name
  }}</span>
  <span
    class="age"
    :class="{ standalone: !profile.name }"
    v-if="profile.age"
    :aria-label="t.profile.age"
    >{{ profile.age }}</span
  >
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { CommonProfileData } from "@/modules/profile/profile.service";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  props: {
    profile: {
      type: Object as PropType<Pick<CommonProfileData, "name" | "age">>,
      required: true,
    },
  },
  setup() {
    return {
      t: injectTranslations(),
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";

.name {
  font-weight: 500;
}

.age {
  &:not(.standalone) {
    margin-left: $spacing-md;
  }

  &::before {
    content: "(";
  }
  &::after {
    content: ")";
  }
}
</style>
