<template>
  <div id="page--profile" class="page">
    <h2 class="sr-only">{{ t.navigation.profile }}</h2>

    <p>TODO [MVP]: Manage multiple profiles</p>
    <p>TODO [MVP]: Manage pictures</p>
    <p>TODO [MVP]: Edit name, age (+"ish" flag) and location(s)</p>
    <p>TODO [MVP]: Edit & order attributes</p>
    <p>TODO [MVP]: Edit & order sections</p>

    <p>TODO [MVP]: Manage search filters: Age, gender, location (range)</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { injectTranslations } from "@/i18n/provider";

export default defineComponent({
  setup() {
    return {
      t: injectTranslations(),
    };
  },
});
</script>
