@import "src/styles/theme/variables";

$latoLatin: (
  (
    100,
    "Hairline",
    "LatoLatin-Hairline.woff2",
    "Hairline Italic",
    "LatoLatin-HairlineItalic.woff2"
  ),
  (
    200,
    "Thin",
    "LatoLatin-Thin.woff2",
    "Thin Italic",
    "LatoLatin-ThinItalic.woff2"
  ),
  (
    300,
    "Light",
    "LatoLatin-Light.woff2",
    "Light Italic",
    "LatoLatin-LightItalic.woff2"
  ),
  (
    400,
    "Regular",
    "LatoLatin-Regular.woff2",
    "Italic",
    "LatoLatin-Italic.woff2"
  ),
  (
    500,
    "Medium",
    "LatoLatin-Medium.woff2",
    "Medium Italic",
    "LatoLatin-MediumItalic.woff2"
  ),
  (
    600,
    "Semibold",
    "LatoLatin-Semibold.woff2",
    "Semibold Italic",
    "LatoLatin-SemiboldItalic.woff2"
  ),
  (
    700,
    "Bold",
    "LatoLatin-Bold.woff2",
    "Bold Italic",
    "LatoLatin-BoldItalic.woff2"
  ),
  (
    800,
    "Heavy",
    "LatoLatin-Heavy.woff2",
    "Heavy Italic",
    "LatoLatin-HeavyItalic.woff2"
  ),
  (
    900,
    "Black",
    "LatoLatin-Black.woff2",
    "Black Italic",
    "LatoLatin-BlackItalic.woff2"
  )
);

@each $weight, $regular, $fileRegular, $italic, $fileItalic in $latoLatin {
  @font-face {
    font-family: "LatoLatin";
    font-weight: $weight;
    font-style: normal;
    src: local("LatoLatin #{$regular}"), local("Lato #{$regular}"),
      url("#{$fonts-path}/LatoLatin/#{$fileRegular}") format("woff2");
  }
  @font-face {
    font-family: "LatoLatin";
    font-weight: $weight;
    font-style: italic;
    src: local("LatoLatin #{$italic}"), local("Lato #{$italic}"),
      url("#{$fonts-path}/LatoLatin/#{$fileItalic}") format("woff2");
  }
}
