@import "~@/styles/theme/variables/index.scss";

@mixin font-faces($fontDef, $family, $directory: $family) {
  @each $weight, $variants in $fontDef {
    @each $variant, $filename in $variants {
      @font-face {
        font-family: $family;
        font-weight: $weight;
        font-style: $variant;
        src: url("#{$fonts-path}/#{$directory}/#{$filename}") format("woff2");
      }
    }
  }
}
