@import "src/styles/theme/variables";

$montserrat: (
  (
    100,
    "Montserrat Thin",
    "Montserrat-Thin.woff2",
    "Montserrat Thin Italic",
    "Montserrat-ThinItalic.woff2"
  ),
  (
    200,
    "Montserrat ExtraLight",
    "Montserrat-ExtraLight.woff2",
    "Montserrat ExtraLight Italic",
    "Montserrat-ExtraLightItalic.woff2"
  ),
  (
    300,
    "Montserrat Light",
    "Montserrat-Light.woff2",
    "Montserrat Light Italic",
    "Montserrat-LightItalic.woff2"
  ),
  (
    400,
    "Montserrat Regular",
    "Montserrat-Regular.woff2",
    "Montserrat Italic",
    "Montserrat-Italic.woff2"
  ),
  (
    500,
    "Montserrat Medium",
    "Montserrat-Medium.woff2",
    "Montserrat Medium Italic",
    "Montserrat-MediumItalic.woff2"
  ),
  (
    600,
    "Montserrat SemiBold",
    "Montserrat-SemiBold.woff2",
    "Montserrat SemiBold Italic",
    "Montserrat-SemiBoldItalic.woff2"
  ),
  (
    700,
    "Montserrat Bold",
    "Montserrat-Bold.woff2",
    "Montserrat Bold Italic",
    "Montserrat-BoldItalic.woff2"
  ),
  (
    800,
    "Montserrat ExtraBold",
    "Montserrat-ExtraBold.woff2",
    "Montserrat ExtraBold Italic",
    "Montserrat-ExtraBoldItalic.woff2"
  ),
  (
    900,
    "Montserrat Black",
    "Montserrat-Black.woff2",
    "Montserrat Black Italic",
    "Montserrat-BlackItalic.woff2"
  )
);

@each $weight, $regular, $fileRegular, $italic, $fileItalic in $montserrat {
  @font-face {
    font-family: "Montserrat";
    font-weight: $weight;
    font-style: normal;
    src: local($regular),
      url("#{$fonts-path}/Montserrat/#{$fileRegular}") format("woff2");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: $weight;
    font-style: italic;
    src: local($italic),
      url("#{$fonts-path}/Montserrat/#{$fileItalic}") format("woff2");
  }
}
