<template>
  <Suspense>
    <template #default>
      <GlobalsProvider>
        <RouterView />
      </GlobalsProvider>
    </template>
    <template #fallback> <TheAppLoading /> </template>
  </Suspense>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { RouterView } from "vue-router";
import TheAppLoading from "@/modules/frame/TheAppLoading.vue";
import { provideViewport } from "@/modules/common/viewport.provider";
import { parallelAsyncProvider } from "@/utils/provider";
import { i18nProvider } from "@/i18n/provider";
import { userProvider } from "@/modules/user/user.provider";

export default defineComponent({
  components: {
    TheAppLoading,
    RouterView,
    GlobalsProvider: parallelAsyncProvider(i18nProvider, userProvider),
  },
  setup() {
    provideViewport();
  },
});
</script>
