<template>
  <div id="frame" data-type="container" :lang="ISO_639_CODE[i18n.locale]">
    <TheUserNavigation />
    <main id="content" class="container-fluid" aria-live="polite">
      <RouterView />
    </main>
    <TheFooter />
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, onUnmounted } from "vue";
import TheUserNavigation from "@/modules/frame/navigation/TheUserNavigation.vue";
import TheFooter from "@/modules/frame/TheFooter.vue";
import { ISO_639_CODE } from "@/i18n/constants";
import { injectI18n } from "@/i18n/provider";

/**
 * A frame variant that delegates the scrolling responsibility to the page
 * content. Thus the footer is always visible.
 */
export default defineComponent({
  components: {
    TheUserNavigation,
    TheFooter,
  },
  setup() {
    onMounted(() => {
      document.body.classList.add("no-scrolling");
    });
    onUnmounted(() => {
      document.body.classList.remove("no-scrolling");
    });

    return {
      ISO_639_CODE,
      i18n: injectI18n(),
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";
@import "~@/styles/mixins";

#frame {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  @include container-fluid;
  flex: 1;
  overflow: hidden;
}
</style>

<style lang="scss">
// Unfortunately, chromium assumes the content height of body to include the
// full height of the scrollable panel contents. So just prevent any body
// scrolling on burger pages.
body.no-scrolling {
  overflow-y: hidden;
}
</style>
