<template>
  <footer id="footer">
    <div class="container-fluid">
      <div class="inner-container">
        <div class="footer-section copyright">
          <span class="item">Copyright (C) 2020-2021 </span>
          <span class="item author">Ole Reglitzki</span>
        </div>
        <nav class="footer-section legal-links">
          <span class="item">
            <RouterLink to="/legal/imprint">
              {{ t.legal.imprint }}
            </RouterLink>
          </span>
          <span class="item">
            <RouterLink to="/legal/data-protection">
              {{ t.legal.dataProtection }}
            </RouterLink>
          </span>
        </nav>
        <div
          class="footer-section language-switch"
          :aria-label="t.languageSwitch"
        >
          <div v-for="locale of LOCALES" :key="locale" class="item">
            <button
              @click="setLocale(locale)"
              :class="{ active: isActive(locale) }"
              :disabled="isActive(locale)"
              :lang="ISO_639_CODE[locale]"
              :hreflang="ISO_639_CODE[locale]"
            >
              {{ LOCALE_NAME[locale] }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { injectI18n, injectTranslations } from "@/i18n/provider";
import { ISO_639_CODE, Locale, LOCALE_NAME, LOCALES } from "@/i18n/constants";

export default defineComponent({
  setup() {
    const i18n = injectI18n();

    return {
      t: injectTranslations(),
      LOCALES,
      LOCALE_NAME,
      ISO_639_CODE,
      isActive(locale: Locale) {
        return locale === i18n.locale;
      },
      async setLocale(locale: Locale) {
        await i18n.updateLocale(locale);
      },
    };
  },
});
</script>

<style lang="scss" scoped>
@use "sass:math";

@import "~@/styles/theme/variables";
@import "~@/styles/mixins";

@mixin link-text() {
  color: $primary-800;
  font-weight: 500;

  &:hover,
  &:focus {
    color: $primary-900;
  }
}

#footer {
  font-size: 0.7rem;
  line-height: 1.25;
  background-color: $primary-200;
  color: $primary-900;
  z-index: 500;
  box-shadow: 0 0 4px fade-out($real-black, 0.65);
  padding: 0 $spacing-sm;

  @media #{$viewport-xs} {
    font-size: 0.75rem;
    padding: 0;
  }
  @media #{$viewport-sm} {
    line-height: unset;
    font-size: 0.8rem;
  }
}

.container-fluid {
  @include container-fluid;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;
  // sections add up to 100% + 3 * spacing-sm (2 between sections, 1 around
  // sections), so we need to cut out the inner 2 spacings from the 100% value.
  // Cut out evenly from both sides => spacing-sm on each side.
  margin: 0 $spacing-sm;
}

.footer-section {
  flex-grow: 1;
  min-width: math.div(100%, 3);
  margin: 0 math.div($spacing-sm, 2);

  > .item {
    display: block;
    &:not(:first-child) {
      margin-top: $spacing-md;

      @media #{$viewport-md} {
        margin-top: 0;
      }
    }
  }

  @media #{$viewport-md} {
    display: flex;

    > .item:not(:first-child)::before {
      content: "";
      border-left: 1px solid currentColor;
      opacity: 0.5;
      margin: 0 $spacing-md;
    }
  }
}

.copyright {
  @media #{$viewport-md} {
    > .item:not(:first-child)::before {
      content: " ";
      border-left: none;
      margin: 0;
      white-space: pre;
    }
  }

  .author {
    font-style: italic;
  }
}

.legal-links {
  @media #{$viewport-md} {
    justify-content: center;
  }

  > .item {
    text-align: center;
  }

  a {
    @include link-text;

    &.router-link-active {
      color: $secondary-900;
    }
  }
}

.language-switch {
  @media #{$viewport-md} {
    justify-content: flex-end;
  }

  > .item {
    text-align: right;
  }

  button {
    @include link-text;

    &.active {
      cursor: default;
      color: $primary-900 !important;
      outline: none;
    }
  }
}
</style>
