<template>
  <div id="page--likes" class="page">
    <h2 class="sr-only">{{ t.navigation.likes }}</h2>
    <template v-if="likes.loading">
      <Spinner class="mx-auto mt-xl md:mt-xxl" :size="SpinnerSize.large" />
    </template>
    <template v-else-if="likes.succeeded">
      <section
        v-for="group in likes.value"
        :key="group.date"
        class="likes-group"
      >
        <TitleDivider>{{ formatDate(group.date) }}</TitleDivider>
        <ol>
          <!-- TODO [MVP]: add option to start chat / link existing chat -->
          <!-- TODO [MVP]: Add foreign profile link -->
          <li
            v-for="like in group.likes"
            :key="like"
            class="like"
            :class="{
              inbound: like.inbound,
              outbound: like.outbound,
              new: like.new,
            }"
          >
            <div class="profile-hint">
              <i class="fa fa-user-circle" aria-label="t.profile.title"></i>
              {{ like.profileSelf.label }}
            </div>
            <div class="relation">
              <span class="sr-only">{{ likeLabel(like) }}</span>
              <span
                class="fa fa-angle-left"
                :class="{ invisible: !like.inbound }"
                aria-hidden="true"
              ></span>
              <span class="fa fa-heart" aria-hidden="true"></span>
              <span
                class="fa fa-angle-right"
                :class="{ invisible: !like.outbound }"
                aria-hidden="true"
              ></span>
            </div>
            <div class="profile-foreign">
              <img
                v-if="like.profileForeign.picture"
                :src="like.profileForeign.picture"
                :alt="t.profile.portrait"
                class="profile-picture"
              />
              <NameAndAge :profile="like.profileForeign"></NameAndAge>
            </div>
          </li>
        </ol>
      </section>
    </template>
    <div v-else role="alert">Error: {{ likes.error }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { fetchLikes, Like } from "@/modules/likes/likes.service";
import Spinner, { SpinnerSize } from "@/modules/common/Spinner.vue";
import TitleDivider from "@/modules/common/TitleDivider.vue";
import NameAndAge from "@/modules/profile/NameAndAge.vue";
import { injectTranslations } from "@/i18n/provider";
import { useLoading } from "@/modules/common/hooks/loading";

export default defineComponent({
  components: {
    NameAndAge,
    TitleDivider,
    Spinner,
  },
  setup() {
    const t = injectTranslations();

    return {
      t,
      SpinnerSize,
      likes: useLoading(fetchLikes()).state,

      formatDate(date: Date) {
        return date.toLocaleDateString();
      },
      likeLabel({ inbound, outbound }: Like): string {
        const relation = t.value.relation;
        return outbound
          ? inbound
            ? relation.matchesWith
            : relation.likes
          : relation.isLikedBy;
      },
    };
  },
});
</script>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";

.title-divider {
  color: $primary-800;
  margin: $spacing-xl 0;
}

.page {
  margin-bottom: $spacing-xl;
}

.like {
  background-color: $panel-bg-bright;
  margin-bottom: $spacing-lg;
  padding: $spacing-md $spacing-lg;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.new {
    background-color: $primary-900;
  }

  &.inbound.outbound {
    .relation .fa-heart {
      color: $like-match;
    }
  }

  .relation {
    display: flex;
    align-items: center;
    margin: $spacing-lg $spacing-md;

    .invisible {
      visibility: hidden;
    }

    .fa {
      font-size: 1.5em;
      color: $like-direction;
    }

    .fa-heart {
      margin: 0 $spacing-sm;
      color: $like-single;
    }
  }

  .profile-foreign,
  .profile-hint {
    flex: 1;
  }

  .profile-foreign {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .profile-picture {
      width: 52px;
      height: 52px;
    }
  }

  .profile-hint {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fa {
      font-size: 1.5em;
    }
  }

  @media #{$viewport-md} {
    flex-direction: row;
    margin-bottom: $spacing-md;

    .relation {
      margin: 0 $spacing-md;

      .fa {
        font-size: 1.25em;
      }
    }

    .profile-foreign {
      flex-direction: row-reverse;

      .profile-picture {
        margin: -$spacing-md (-$spacing-lg) (-$spacing-md) $spacing-md;
      }
    }

    .profile-hint {
      flex-direction: row;

      .fa {
        margin-right: $spacing-md;
        font-size: 1em;
      }
    }
  }
}
</style>
