/* Use with care, it's often easier to comprehend additive rules with increasing viewport */
$viewport-below-xs: "(max-width: 479px)";

$viewport-xs: "(min-width: 480px)";
$viewport-sm: "(min-width: 640px)";
$viewport-md: "(min-width: 860px)";
$viewport-lg: "(min-width: 1024px)";
$viewport-xl: "(min-width: 1200px)";
$viewport-xxl: "(min-width: 1680px)";

$viewport: (
  xs: $viewport-xs,
  sm: $viewport-sm,
  md: $viewport-md,
  lg: $viewport-lg,
  xl: $viewport-xl,
  xxl: $viewport-xxl,
);
