<template>
  <div class="title-divider" role="heading">
    <div class="line" role="presentation"></div>
    <div class="content">
      <slot></slot>
    </div>
    <div class="line" role="presentation"></div>
  </div>
</template>

<style lang="scss" scoped>
@import "~@/styles/theme/variables";

.title-divider {
  display: flex;
  align-items: center;
}

.content {
  padding: 0 $spacing-md;
}

.line {
  flex: 1;
  height: $spacing-px;
  background-color: currentColor;
}
</style>
